<<<<<<< HEAD

body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
}

#board{
    background-image: url(images/flappybirdbg.png);
    border-radius:20px ;
    
=======

body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
}

#board{
    background-image: url(images/flappybirdbg.png);
    border-radius:20px ;
    
>>>>>>> cd6f3fd1a0b0ac1dc821648ae019a98922db8d30
}