:root {
    --dark-color: #000000;
}

body {
    background-color: var(--dark-color);
    margin: 0;
    font-family: Arial, sans-serif;
}

.box-container {
    margin: 15vh auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 500px;
    width: 600px;
    gap: 2px;
}

.box {
    border: 2px solid black;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle {
    border: #000000 3px solid;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.x {
    width: 60px;
    height: 60px;
    position: absolute;
}

.x::before, .x::after {
    content: '';
    position: absolute;
    background-color: #000;
    height: 10px;
    width: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.x::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}